/tmp
/out-tsc
/dist
/coverage
/.mongodb-binaries

/node_modules
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
# JetBrains IDE
/.idea

# local API request collections (nao versionar)
/curls/
